@inherits LayoutComponentBase

<main class="main-container">
    <header class="header">
        <h1>Retirement Tax Optimizer</h1>
    </header>

    <section class="content">
        @Body
    </section>
</main>
